<h2><%= l(:label_users_report) %></h2>

<%= form_tag(users_report_path, :method => :post) do %>
	<fieldset>
		<legend><%= l(:label_filter_plural) %></legend>
		<label for='filter_start_date' style="margin-left: 10px;"><%= l(:field_start_date) %>:</label>
		<%= date_field_tag 'filter_start_date', '', :value => params[:filter_start_date], :size => 10 %>
		<%= calendar_for('filter_start_date') %>
		<label for='filter_due_date' style="margin-left: 10px;"><%= l(:field_due_date) %>:</label>
		<%= date_field_tag 'filter_due_date', '', :value => params[:filter_due_date], :size => 10 %>
		<label for='filter_projects' style="margin-left: 10px;"><%= l(:label_project_plural) %>:</label>
		<%= select_tag "filter_projects", options_from_project_filter(@projects, params[:filter_projects]), :multiple => true, :style=>"width: 300px; height: 100px;"  %>
		<%= calendar_for('filter_due_date') %>
		
		<%= submit_tag l(:button_apply), :class => "small", :name => nil, :style => "margin-left: 10px;" %>
		<%= link_to l(:button_clear), users_report_path, :class => 'icon icon-reload' %>
	</fieldset>
<% end %>


<div class="autoscroll" style="margin-top:10px;">
	<% if ! @data.any? %>
		<p class="nodata"><%= l(:label_no_data) %></p>
	<% else %>
		<table class="list">
		  <thead>
			<tr>
			  <th style="width: 60% !important;">
				<%= l(:field_user) + "/" + l(:field_project)%>
			  </th>
			  <th>
				<%= l(:label_report_estimated_hours)%>
			  </th>
			  <th>
				<%= l(:label_report_hours)%>
			  </th>
			  <th>
				<%= l(:label_report_billing_hours)%>
			  </th>
			</tr>
		  </thead>
		  <tbody>
			<% @data.each do |item| %>
				<tr class="<%= cycle 'odd', 'even' %>">
					<td class="name" style="width: 60% !important;">
						<%= link_to_element_user_report item[:link] %>
					</td>
					<td>
						<%= item[:total_estimated_hours] %>
					</td>
					<td>
						<%= item[:total_hours] %>
					</td>
					<td>
						<%= item[:total_billing_hours] %>
					</td>
				</tr>
			<% end %>
		  </tbody>
		</table>
	<% end %>
</div>

<p class="pagination"><%= pagination_links_full @data_pages, @data_count %></p>

<% other_formats_links do |f| %>
  <%= f.link_to 'CSV', :url => params %>
<% end %>

<% html_title(l(:label_users_report)) %>